body {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: #eddbff;
    margin: 25px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(0, 0, 0);
}

h2 {
    text-decoration: underline;
}

.container {
    display: flex;
    gap: 25px;
}

.column {
    flex: 1;
    background-color: #dcf2ff;
    padding: 20px;
    border-radius: 40px;
}

.card {
    background-color:white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 40px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .container {
        flex-wrap: wrap;
    }
    .column {
        flex-basis: 100%;
    }
    
}